/* SkeletonCard Component Styles */
.skeleton-card-item {
  background: #FFFFFF;
  border-radius: 12px;
  border: 1px solid var(--borders);
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
